html {
  overflow-y: scroll;
}

a:link {
  text-decoration: none;
  color: #ffb700;
}

a:hover {
  color: #ffcc00;
}

/* visited link */
a:visited {
  color: #ffb700;
}

/* selected link */
a:active {
  color: #ffcc00;
}